@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);


#menu-n .mbr-brand__name {
  font-size: 16px;
}
#menu-n.mbr-navbar--stuck .mbr-navbar__section {
  background: #040648;
}
#menu-n .mbr-navbar__hamburger {
  color: #fac51c;
}
#menu-n .mbr-brand__name a {
  font-size: 8px;
}
#menu-n .mbr-navbar__items a {
  font-size: 12px;
}
#msg-box2-4v .mbr-header .mbr-header__text {
  color: #ffffff;
  font-size: 32px;
  font-family: 'Oswald', sans-serif;
  text-align: left;
}
#msg-box2-4v .mbr-article {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  text-align: left;
}
#header2-4w P {
  font-size: 21px;
}
#header2-4x H1 {
  text-align: right;
}
#header2-4x P {
  text-align: right;
}
#header2-4y H1 {
  text-align: right;
}
#header2-4y P {
  text-align: right;
}
#form1-4l .mbr-header__text {
  color: #ffffff;
}
#form1-4l .btn {
  font-size: 16px;
}
#contacts1-4r P {
  color: #ffffff;
  font-size: 14px;
}
#contacts1-4r B {
  font-size: 18px;
}
#contacts1-4r DIV {
  color: #ffffff;
}
#footer1-4s P {
  color: #ffffff;
}

#menu-p .mbr-brand__name {
  font-size: 16px;
}
#menu-p.mbr-navbar--stuck .mbr-navbar__section {
  background: #040648;
}
#menu-p .mbr-navbar__hamburger {
  color: #fac51c;
}
#menu-p .mbr-brand__name a {
  font-size: 8px;
}
#menu-p .mbr-navbar__items a {
  font-size: 12px;
}
#features1-5r P {
  text-align: center;
  color: #000000;
  font-family: 'Oswald', sans-serif;
}
#features1-5r .mbr-section-title .mbr-header__text {
  text-align: center;
  font-size: 32px;
}
#contacts1-4r P {
  color: #ffffff;
  font-size: 14px;
}
#contacts1-4r B {
  font-size: 18px;
}
#contacts1-4r DIV {
  color: #ffffff;
}
#footer1-4s P {
  color: #ffffff;
}
#menu-o .mbr-brand__name {
  font-size: 16px;
}
#menu-o.mbr-navbar--stuck .mbr-navbar__section {
  background: #040648;
}
#menu-o .mbr-navbar__hamburger {
  color: #fac51c;
}
#menu-o .mbr-brand__name a {
  font-size: 8px;
}
#menu-o .mbr-navbar__items a {
  font-size: 12px;
}
#msg-box1-4m .mbr-header .mbr-header__text {
  color: #fff;
  text-align: left;
  font-size: 36px;
}
#msg-box1-4m .mbr-article {
  color: #fff;
  text-align: left;
  font-size: 21px;
}
#msg-box1-4m .btn {
  font-size: 13px;
}
#msg-box3-4o .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-4o .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-4o .mbr-article {
  color: #ffffff;
}
#msg-box3-4o .mbr-article P {
  font-size: 24px;
}
#contacts1-4r P {
  color: #ffffff;
  font-size: 14px;
}
#contacts1-4r B {
  font-size: 18px;
}
#contacts1-4r DIV {
  color: #ffffff;
}
#footer1-4s P {
  color: #ffffff;
}


#menu-q .mbr-brand__name {
  font-size: 16px;
}
#menu-q.mbr-navbar--stuck .mbr-navbar__section {
  background: #040648;
}
#menu-q .mbr-navbar__hamburger {
  color: #fac51c;
}
#menu-q .mbr-brand__name a {
  font-size: 8px;
}
#menu-q .mbr-navbar__items a {
  font-size: 12px;
}
#msg-box2-5f .mbr-header .mbr-header__text {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  text-align: left;
}
#msg-box2-5f .mbr-article {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  text-align: left;
}
#form1-3g .mbr-header__text {
  color: #ffffff;
}
#form1-3g .btn {
  font-size: 16px;
}
#contacts1-4r P {
  color: #ffffff;
  font-size: 14px;
}
#contacts1-4r B {
  font-size: 18px;
}
#contacts1-4r DIV {
  color: #ffffff;
}
#footer1-4s P {
  color: #ffffff;
}


#msg-box2-3j .mbr-header .mbr-header__text {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  text-align: left;
}
#msg-box2-3j .mbr-article {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  text-align: left;
}
#header2-3k H1 {
  font-size: 32px;
  color: #efefef;
}
#header2-3k P {
  font-size: 16px;
  color: #efefef;
}
#header2-3l H1 {
  text-align: right;
  font-size: 32px;
}
#header2-3l P {
  text-align: right;
  font-size: 16px;
}
#header2-3m H1 {
  font-size: 30px;
  text-align: right;
}
#header2-3m P {
  font-size: 16px;
  text-align: right;
}
#header2-3n H1 {
  text-align: right;
  font-size: 32px;
}
#header2-3n P {
  text-align: right;
  font-size: 16px;
}
#header2-3o H1 {
  font-size: 32px;
}
#header2-3o P {
  font-size: 16px;
}
#header2-3p H1 {
  font-size: 32px;
  text-align: left;
}
#header2-3p P {
  font-size: 16px;
}
#header2-3q H1 {
  text-align: left;
  font-size: 32px;
  color: #000005;
}
#header2-3q P {
  font-size: 16px;
  color: #000005;
}
#header1-50 P {
  text-align: right;
}
#header1-50 H1 {
  text-align: right;
}
#header1-4z H1 {
  text-align: right;
}
#header1-4z P {
  text-align: right;
}
#menu-3r .mbr-brand__name {
  font-size: 16px;
}
#menu-3r.mbr-navbar--stuck .mbr-navbar__section {
  background: #040648;
}
#menu-3r .mbr-navbar__hamburger {
  color: #fac51c;
}
#menu-3r .mbr-brand__name a {
  font-size: 8px;
}
#menu-3r .mbr-navbar__items a {
  font-size: 12px;
}
#form1-3s .mbr-header__text {
  color: #ffffff;
}
#form1-3s .btn {
  font-size: 16px;
}
#contacts1-4r P {
  color: #ffffff;
  font-size: 14px;
}
#contacts1-4r B {
  font-size: 18px;
}
#contacts1-4r DIV {
  color: #ffffff;
}
#footer1-4s P {
  color: #ffffff;
}


#msg-box4-3t .mbr-header__text {
  color: #000000;
  font-size: 36px;
}
#msg-box4-3t .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3t .mbr-article {
  color: #ffffff;
}
#msg-box4-3t .mbr-article P {
  font-size: 21px;
}
#slider-3z P {
  font-size: 46px;
  color: #ffffff;
  text-align: left;
}
#slider-3z H1 {
  font-size: 46px;
  color: #ffffff;
  text-align: left;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #040648;
}
#menu-0 .mbr-navbar__hamburger {
  color: #fac51c;
}
#menu-0 .mbr-brand__name a {
  font-size: 8px;
}
#menu-0 .mbr-navbar__items a {
  font-size: 12px;
}
#msg-box4-3u .mbr-header__text {
  color: #000000;
  font-size: 32px;
}
#msg-box4-3u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3u .mbr-article {
  color: #000000;
}
#msg-box4-3u .mbr-article P {
  font-size: 21px;
}
#msg-box4-3v .mbr-header__text {
  color: #000000;
  font-size: 32px;
}
#msg-box4-3v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3v .mbr-article {
  color: #000000;
}
#msg-box4-3v .mbr-article P {
  font-size: 21px;
}
#msg-box4-3w .mbr-header__text {
  color: #000000;
  font-size: 32px;
}
#msg-box4-3w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3w .mbr-article {
  color: #000000;
}
#msg-box4-3w .mbr-article P {
  font-size: 21px;
}
#msg-box4-3x .mbr-header__text {
  color: #000000;
  font-size: 32px;
}
#msg-box4-3x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3x .mbr-article {
  color: #000000;
}
#msg-box4-3x .mbr-article P {
  font-size: 21px;
}
#msg-box2-3y .mbr-header .mbr-header__text {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  text-align: left;
}
#msg-box2-3y .mbr-article {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  font-size: 21px;
}
#header2-40 H1 {
  text-align: left;
  font-size: 32px;
  color: #ffffff;
}
#header2-40 P {
  font-size: 21px;
  text-align: left;
}
#form1-41 .mbr-header__text {
  color: #000000;
}
#form1-41 .btn {
  font-size: 16px;
}
#msg-box1-44 .mbr-header .mbr-header__text {
  color: #fff;
  text-align: left;
  font-size: 36px;
}
#msg-box1-44 .mbr-article {
  color: #fff;
  text-align: left;
  font-size: 21px;
}
#msg-box1-44 .btn {
  font-size: 13px;
}
#header2-43 P {
  font-size: 16px;
}
#contacts1-4r P {
  color: #ffffff;
  font-size: 14px;
}
#contacts1-4r B {
  font-size: 18px;
}
#contacts1-4r DIV {
  color: #ffffff;
}
#footer1-4s P {
  color: #ffffff;
}
